240830/cnn_for_stanford_dogs.h5
/240830/.idea/aws.xml
/.idea/aws.xml
/.idea/compiler.xml
/240830/.idea/compiler.xml
/240830/.idea/240830.iml
/.idea/git_toolbox_prj.xml
/.idea/jpa-buddy.xml
/240830/.idea/jpa-buddy.xml
/.idea/misc.xml
/240830/.idea/misc.xml
/.idea/modules.xml
/240830/.idea/modules.xml
/.idea/pythonExam_ubuntu.iml
/.idea/vcs.xml
/240830/.idea/vcs.xml
202409/240909_LSTM/aclImdb/
202409/240909_LSTM/aclImdb/imdb.vocab
202409/240909_LSTM/aclImdb/imdbEr.txt
202409/240909_LSTM/aclImdb/README
202409/240909_LSTM/aclImdb/test/labeledBow.feat
202409/240909_LSTM/aclImdb/test/neg/0_2.txt
202409/240909_LSTM/aclImdb/test/neg/1_3.txt
202409/240909_LSTM/aclImdb/test/neg/2_3.txt
202409/240909_LSTM/aclImdb/test/neg/3_4.txt
202409/240909_LSTM/aclImdb/test/neg/4_4.txt
202409/240909_LSTM/aclImdb/
202409/240909_LSTM/aclImdb_v1.tar.gz
202409/240909_LSTM/movie_data.csv
202409/240909_LSTM/movie_data.csv.gz
202409/240909_LSTM/aclImdb_v1.tar/aclImdb_v1.tar
240923/logs/train/events.out.tfevents.1727071703.DESKTOP-PGV55HT.10356.0.v2
240923/logs/validation/events.out.tfevents.1727071786.DESKTOP-PGV55HT.10356.1.v2
240923/models/decoder/fingerprint.pb
240923/models/decoder/keras_metadata.pb
240923/models/decoder/saved_model.pb
240923/models/decoder/variables/variables.data-00000-of-00001
240923/models/vae/variables/variables.index
240923/models/vae/variables/variables.data-00000-of-00001
240923/models/vae/saved_model.pb
240923/models/vae/keras_metadata.pb
240923/models/vae/fingerprint.pb
240923/models/encoder/variables/variables.index
240923/models/encoder/variables/variables.data-00000-of-00001
240923/models/encoder/saved_model.pb
240923/models/encoder/keras_metadata.pb
240923/models/encoder/fingerprint.pb
240923/models/decoder/variables/variables.index
240923/notebooks/__pycache__/utils.cpython-37.pyc
240923/logs/validation/events.out.tfevents.1727074782.DESKTOP-PGV55HT.10356.3.v2
240923/logs/train/events.out.tfevents.1727074703.DESKTOP-PGV55HT.10356.2.v2
.idea/dataSources.xml
